<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCM1yaHcC1q4CtmjIfKPOUBa9FNj3V2_0w</string>
	<key>GCM_SENDER_ID</key>
	<string>617958281651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.etkinlikTakipProjesi</string>
	<key>PROJECT_ID</key>
	<string>isyeriegitimi-ece46</string>
	<key>STORAGE_BUCKET</key>
	<string>isyeriegitimi-ece46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617958281651:ios:4a243a397b73176879fbc6</string>
	<key>DATABASE_URL</key>
	<string>https://isyeriegitimi-ece46-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>